{% extends 'base.html' %} {% load static %} {% block title %}Home{% endblock %} {% block content %} {% include 'sidenav.html' %} {% if user.is_authenticated %}

<div class="container">
    <div class="container" style="width:800px;background-color:#F0F0F0;
padding-top:10px;">

        <div class="jumbotron headjumbo">
            <img src="{% static 'images/hit.png' %}" style="float:left;height:50px;width:120px;" alt="">
            <h1>Welcome to hitCompanion</h1>
        </div>

        <button class='btn btn-primary'>
        <a href="{% url 'collaborate:askQuestion' %}" style="color:white;">Ask question</a>
    </button>
        <center>
            <h2>Other asked questions... </h2>
            <hr><small>
        Click question title to provide an answer 
    </small> </center>

        {% for question in questions %}
        <h3> <a href="/comment/{{ question.questionid }}"> {{ question.questionTitle }} </a> </h3>
        <h5>{{ question.questionText }} </h5><br>
        <em> question asked : {{ question.timestamp|timesince }} ago </em>
        <hr> {% endfor %} <br>

        <button class='btn btn-primary'>
        <a href="{% url 'collaborate:askQuestion' %}" style="color:white;">Ask question</a>
    </button>
    </div>
    {% else %}
    <div class="container">
        <center>

            You have to <a href="/login/"> Login </a>first, If you are not a member
            <a href="/register/">Register.</a>

        </center>
    </div>

    <div class="container" style="width:500px;height: 700px; padding-top: 200px;">
        <div class="homediv" style="text-align:center; background-color: rgb(49, 115, 212);color:#D6E4FF;
        border:1px solid gray; border-radius: 40px;">
            <h1>
                HIT COMPANION
            </h1>
            Technocrats in collaboration
        </div>
    </div>

</div>
{% endif %} {% endblock %}