{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block title %}Answer{% endblock %}

{% block content %}

<div class="container">

    <div class="jumbotron headjumbo">
        <img src="{% static 'images/hit.png' %}" style="float:left;height:50px;width:120px;" alt="">
        <h1>Provide answer below</h1>
    </div>

    <h3>
        Question: {{ qns.questionText }} <hr>
    </h3>
        <h4>Other Comments </h4> 
        {% for an in ans %}
        <ul>
        <li>{{ an.answerText }} <br>
            <small style='color: blue;'>
        {{ an.timestamp|timesince }} ago 
            </small>
        </li>
        
        </ul>
        {% endfor %}
        <hr>

    <div style="height:700px;width:550px;">
        <div class="container ">
            <form action="/saveAnswer/{{ qns.questionid }}/" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <strong>NB:</strong> enter the number {{ qns.questionid }} in the box above <br> <br>
                <input type="submit" value='ANSWER'>
            </form>
        </div>
    </div>

</div>


{% endblock %}