{% extends 'base.html' %} {% load bootstrap3 %} {% load static %} {% block title %}About{% endblock %} {% block content %}

<div class="container">
    <div class="jumbotron headjumbo">
        <img src="{% static 'images/hit.png' %}" style="float:left;height:50px;width:120px;" alt="">
        <h1>About HitCompanion</h1>
    </div>

    <div>
        <h1>What is HitCompanion?</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatibus excepturi quia repudiandae quam nemo aliquam, corporis non ipsam, vero d istinctio nostrum ut, provident voluptatum eius voluptas natus. Pariatur accusantium quasi , officia
            aspernatur ducimus labore voluptates maxime quas voluptatum quidem reprehenderit vero d ebitis quaerat iure, dicta iste excepturi suscipit nemo a, unde atque? Laboriosam voluptatem quas repellat excepturi nostrum asperiores sit optio dicta
            commodi, eum placeat vitae veritatis quae quidem rem dolores esse, consectetur corrupti porro sunt quo hic nulla reiciendis officiis? Quasi dolorem repellendus nihil explicabo eius eveniet, dolor in consequuntur, nam magnam ratione perferendis
            ducimus quidem quaerat quibusdam?</p>
        <br>
        <h1>HitCompanion Creators</h1>
        <hr>
        <div class="row">
            <div class="card-panel">
                <h4>Emmanuel Mukombero</h4>
                <img src="{% static 'images/manue.jpg' %}" alt="image not found">
                <br>
                <hr> <br>
                <p>
                    Emmanuel Mukombero is idvddjfff hfkf dd jdujwyw nvbhuej
                </p>
            </div>

            <div class="card-panel">
                <h4>Emmanuel Mukombero</h4>
                <img src="{% static 'images/manue.jpg' %}" alt="image not found">
                <br>
                <hr> <br>
                <p>
                    Emmanuel Mukombero is idvddjfff hfkf dd jdujwyw nvbhuej
                </p>
            </div>

            <div class="card-panel">
                <h4>Emmanuel Mukombero</h4>
                <img src="{% static 'images/manue.jpg' %}" alt="image not found">
                <br>
                <hr> <br>
                <p>
                    Emmanuel Mukombero is idvddjfff hfkf dd jdujwyw nvbhuej
                </p>
            </div>

            <div class="card-panel">
                <h4>Emmanuel Mukombero</h4>
                <img src="{% static 'images/manue.jpg' %}" alt="image not found">
                <br>
                <hr> <br>
                <p>
                    Emmanuel Mukombero is idvddjfff hfkf dd jdujwyw nvbhuej
                </p>
            </div>

            <div class="card-panel">
                <h4>Emmanuel Mukombero</h4>
                <img src="{% static 'images/manue.jpg' %}" alt="image not found">
                <br>
                <hr> <br>
                <p>
                    Emmanuel Mukombero is idvddjfff hfkf dd jdujwyw nvbhuej
                </p>
            </div>
        </div>
        <br><br>
    </div>
</div>
{% endblock %}