{% load static %} {% if user.is_authenticated %}
<header>
    <nav style="background-color:black;color:white;line-height: 40px;opacity: .5;">
        <a href="/">HITCOMPANION</a> |
        <a href="/admin/">Administration</a> |
        <a href="{% url 'about' %}">About</a> |
        <a href="{% url 'accounts:logout' %}">Logout</a>

    </nav>
</header>
{% else %}

<header>
    <nav style="background-color:black;color:white;line-height: 40px;opacity: .5;">
        <a href="/">HITCOMPANION</a> |
        <a href="{% url 'accounts:login' %}">Login</a> |
        <a href="{% url 'accounts:register' %}">Register</a> |
        <a href="{% url 'about' %}">About</a>


    </nav>
</header>


{% endif %}




<style>
    nav a {
        padding-right: 5px;
        color: white;
        display: inline-block;
    }
    
    nav a:hover {
        text-decoration: none;
        font-size: 25px;
    }
</style>